YPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pole namiotowe Kaszub w Dębkach w przepięknym sosnowym lesie w odległości około 250m od plaży.</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>
<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-retina scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-default scroll-show" src="media/logo-mobile.png" alt="logo" />
                    <img class="logo-retina scroll-show" src="media/logo-mobile.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li>
                        <a href="index.html">Główna</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Oferta</a>
                        <ul>
                            <li class="dropdown">
                                <li><a href="O-Firmie.html  ">O firmie</a></li>
                                <li><a href="shelters.html">Pola namiotowe</a></li>
                                <li><a href="gallery.html">Galeria</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="rules.html">Regulamin</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="prices.html">Rezerwacja</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontakt</a>
                    </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="https://kaszubski-zakatek.pl/images/galeria-camping/Pole/DSC05382_1.JPG" data-offset="0">
        <div class="container">
            <h1>O Nas</h1>
            <h2>Pola namiotowe, wynajem domków letniskowych, caravaning</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">na temat</a></li>
                <li><a href="#">O Nas</a></li>
            </ol>
        </div>
    </header>
    <main>
        <section class="section-base ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p>
                            Pole namiotowe "Kaszub" jest położone na terenie Nadmorskiego Parku Krajobrazowego
                             w przepięknym sosnowym lesie połączonym z urokliwą łąką porośniętą niewielkimi skupiskami
                              drzew i krzewów oferując około 5 hektarów zróżnicowanego terenu 
                              (lasek, odkryty teren zielony, zadrzewiony teren zielony)
                               do wypoczynku pod namiotami, w przyczepach campingowych, camperach, domkach letniskowych.<br>
                               Teren pola jest oświetlony, ogrodzony, wyposażony w system monitoringu kamer - w sezonie letnim: brama wjazdowa,
                                zimowanie: całość obiektu posiada liczne i dogodne miejsca do podłączenia energii elektrycznej, 
                                podłączenia do wody, oraz są wyznaczone parcele, posiadamy plac zabaw dla dzieci z boiskiem z podłożem
                                 piasku morskiego (niebrudzący).<br>W sezonie letnim bezpieczeństwa gości całodobowo zabezpiecza wyspecjalizowana 
                                 firma w ochronie.<br> Na terenie pola i w bliskiej jego odległości znajdują się wędzarnia ryb, 
                                 stoisko owocowo-warzywne, lody, gofry, świeże pieczywo, 
                               sklep spożywczy, kuchnia polowa, stoisko ze słodyczami, stoisko z odzieżą itp.
                        </p>
                    </div>
                    <div class="col-lg-4 no-margin-md">
                        <p>
                            Obiekt objęty jest darmowym internetem WiFi.<br>

Budynek sanitariatów posiada 10 natrysków i kilkanaście umywalek podzielonych na damską i męską część wyposażonych w ciepłą wodę.<br> Pomieszczenia WC składają się z wydzielonych także części damskich i męskich. Prysznice i WC czynne są całodobowo z wyznaczonymi godzinami na sprzątanie.
                        </p>
                    </div>
                    <div class="col-lg-4 no-margin-md">
                        <p>
                            Do dyspozycji turystów miejsca do zmywania naczyń, poboru wody i wiele innych ułatwień np.pralki automatyczne, darmowe ładowanie telefonów. <br>Istnieje możliwość skorzystania z kompresora powietrza do nadmuchu materaców, kół przyczep, itp. oraz doładowania akumulatora poprzez udostępnienie prostownika do naładowania akumulatora.

<br>W ofercie obiektu posiadamy 2 domki letniskowe: czteroosobowe - wyposażone w 1 pokój, aneks kuchenny, łazienka , miejsce parkingowe dla 1 pojazdu przy domku oraz miejsce na grilla. <br>

W ofercie istnieje możliwość pozostawienia przyczepy campingowej na okres zimowania wg cennika

Personel Pola namiotowego wyznacza lokalizację miejsca wypoczynku.<br><br>

Recepcja czynna: jest od godziny 8:00 do 20:00<br><br>

Preferujemy płatność za pobyt kartą bankową realizowaną przez terminal płatniczy.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base section-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="title">
                            <h2>Odkryj nas</h2>
                            <p>nasze główne usługi</p>
                        </div>
                        <hr class="space-lg hidden-md" />
                        <p>
                            Zapraszamy do odkrycia naszych głównych usług, 
                            które zapewnią Ci niezapomniane wrażenia i wypoczynek dla całej rodziny.
                             Oferujemy zarówno spokojne zakwaterowanie, jak i pełne przygód wycieczki.
                        </p>
                        <a href="#" class="  btn-text">Skontaktuj się z nami, aby dowiedzieć się więcej.</a>
                    </div>
                    <div class="col-lg-9">
                        <ul class="slider arrows-left" data-options="type:carousel,perView:3,perViewSm:1,focusAt:center,gap:30,arrows:true,controls:out,autoplay:3000">
                            <li>
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="https://kaszub-debki.pl/images/galeria-camping/15.jpg"  alt="" /></a>
                                    <div class="caption">
                                        <h2>Wycieczki</h2>
                                        <p>
                                            Mamy najbardziej niesamowite i sekretne wędrówki w naszym kraju. Obejrzyj zdjęcia.
                                        </p>
                                        <a class="btn-text" href="#">Take a look</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="https://kaszub-debki.pl/images/galeria-camping/07.jpg" alt="Rodzina" /></a>
                                    <div class="caption">
                                        <h2>Rodziny</h2>
                                        <p>
                                            Spędź dzień z całą rodziną dzięki naszym prostym, łatwym wędrówkom przeznaczonym dla dzieci.
                                            
                                        </p>
                                        <a class="btn-text" href="#">Take a look</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="https://kaszubski-zakatek.pl/images/galeria-camping/Domki/DSC04503.JPG" alt="" /></a>
                                    <div class="caption">
                                        <h2>Domki</h2>
                                        <p>
                                            Zachwyć się niektórymi z najlepszych Domków na świecie przyjaznych dla dzieci i ludzi niepełnosprawnych.
                                        </p>
                                        <a class="btn-text" href="#">Take a look</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base">
            <div class="container">
                <ul class="slider" data-options="type:slider,perView:2,perViewMd:1,gap:40,nav:true,controls:out">
                    <li>
                        <div class="timeline">
                            <div class="inverted">
                                <div class="badge"><p>1985</p><span>Fundacja</span></div>
                                <div class="panel">
                                    <h3 class="timeline-title">Nasza Grupa</h3>
                                    <p>
                                        Stworzenie grupy
W 1985 roku powstała grupa partnerska, której celem jest rozszerzenie naszych działań na skalę międzynarodową.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline">
                            <div class="inverted">
                                <div class="badge"><p>25.01.2002r.</p><span>Stworzenie grupy</span></div>
                                <div class="panel">
                                    <h3 class="timeline-title">Przystąpienie do stowarzyszenia krajowego</h3>
                                    <p>
                                        Radni Gminy Krokowa podjęli Uchwałę w sprawie wyboru sposobu i form prowadzenia działalności w zakresie infrastruktury wodociągowo-kanalizacyjnej.
Gospodarka komunalna Gminy Krokowa prowadzona jest w formie spółki prawa handlowego.
Utworzono jednoosobową spółkę z ograniczoną odpowiedzialnością pod nazwą Krokowskie Przedsiębiorstwo Komunalne Sp. z o.o. z siedzibą w Żarnowcu.
Spółce oddano w zarząd na czas nieoznaczony nieruchomości i sieci tworzące gminną infrastrukturę wodociągowo – kanalizacyjną.
Spółka została powołana 13 maja 2002r. a działalność gospodarczą rozpoczęła od dnia 01.06.2002r. Otrzymała kapitał zakładowy w kwocie 100 tys.zł.
Obecnie kapitał zakładowy wynosi 2 080 000,00 zł.
Spółka przejęła w Zarząd infrastrukturę wodociągowo-kanalizacyjną w następujących terminach:
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline">
                            <div class="inverted">
                                <div class="badge"><p>2002</p><span>Ekspansja</span></div>
                                <div class="panel">
                                    <h3 class="timeline-title">Jesteśmy więksi!</h3>
                                    <p>
                                        Rozszerzyliśmy naszą działalność, aby obsługiwać większą liczbę klientów i rynków.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline">
                            <div class="inverted">
                                <div class="badge"><p>2010</p><span>Online</span></div>
                                <div class="panel">
                                    <h3 class="timeline-title">Jesteśmy online!</h3>
                                    <p>
                                        Uruchomiliśmy naszą stronę internetową, co umożliwiło klientom łatwiejszy dostęp do naszych usług.                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Alpiny</h3>
                    <p>Gdzieś pomiędzy podnóżem wspinaczki a szczytem znajduje się odpowiedź na tajemnicę, dlaczego się wspinamy.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Contacts</h3>
                    <ul class="icon-list icon-line">
                        <li>Żarnowiec 76, 84-110 Krokowa</li>
                        <li>sekretariat@kpkspzoo.pl</li>
                        <li>(58) 539 097 520</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>Zapisz się do naszego newslettera lub śledź nas w kanałach społecznościowych, aby być na bieżąco.</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2019 Alpins — szablon dotyczący pieszych wędrówek i aktywności na świeżym powietrzu. Wykonany ręcznie przez
                    <a href="https://schiocco.com" target="_blank">schiocco.com</a>.</span>
                <span><a href="contacts.html">Skontaktuj się z nami</a> | <a href="#">Polityka prywatności
                </a></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/progress.js"></script>
        <script src="themekit/scripts/magnific-popup.min.js"></script>
        <script src="themekit/scripts/contact-form/contact-form.js"></script>
    </footer>
</body>
</html>