<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog | Alpins | Mountain And Trekking Template</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/social.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>
<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="https://th.bing.com/th?id=OSK.f7e1370d0e426a7d7687a09cc1b67673&w=102&h=102&c=7&o=6&pid=SANGAM" alt="logo" />
                    <img class="logo-retina scroll-hide" src="https://th.bing.com/th?id=OSK.f7e1370d0e426a7d7687a09cc1b67673&w=102&h=102&c=7&o=6&pid=SANGAM" alt="logo" />
                    <img class="logo-default scroll-show" src="https://th.bing.com/th?id=OSK.f7e1370d0e426a7d7687a09cc1b67673&w=102&h=102&c=7&o=6&pid=SANGAM" alt="logo" />
                    <img class="logo-retina scroll-show" src="https://th.bing.com/th?id=OSK.f7e1370d0e426a7d7687a09cc1b67673&w=102&h=102&c=7&o=6&pid=SANGAM" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li>
                        <a href="index.html">Główna</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Oferta</a>
                        <ul>
                            <li class="dropdown">
                                <li><a href="about.html">O firmie</a></li>
                                <li><a href="shelters.html">Pola namiotowe</a></li>
                                <li><a href="gallery.html">Galeria</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="rules.html">Regulamin</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="prices.html">Rezerwacja</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontakt</a>
                    </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="https://kaszub-debki.pl/images/galeria-camping/17.jpg" data-offset="0">
        <div class="container">
            <h1>The blog</h1>
            <h2>Enjoy a day on the top don't have a price</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Blog</a></li>
            </ol>
        </div>
    </header>
    <center>
    <main>
        
        <section class="section-base section-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="grid-list" data-columns="1">
                            <div class="grid-box">
                                <div class="grid-item">
                                    <div class="cnt-box cnt-box-blog-side boxed" data-href="post.html">
                                        <a href="post.html" class="img-box">
                                            <div class="blog-date">
                                                <span>01</span>
                                                <span>JAN 2020</span>
                                            </div>
                                            <img src="https://kaszub-debki.pl/images/galeria-camping/09.jpg" alt="" />
                                        </a>
                                        <div class="caption">
                                            <h2>Teren Pola</h2>
                                            <ul class="icon-list icon-list-horizontal">
                                                <li><i class="icon-calendar"></i><a href="#">01 / 15 / 2020</a></li>
                                                <li><i class="icon-bookmark"></i><a href="#">Treks</a></li>
                                                <li><i class="icon-user"></i><a href="#">Admin</a></li>
                                            </ul>
                                            <p>
                                                Teren pola jest oświetlony, ogrodzony, wyposażony w system monitoringu kamer - w sezonie letnim: brama wjazdowa, zimowanie: całość obiektu posiada liczne i dogodne miejsca do podłączenia energii elektrycznej, podłączenia do wody, oraz są wyznaczone parcele, posiadamy plac zabaw dla dzieci z boiskiem z podłożem piasku morskiego (niebrudzący). 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="cnt-box cnt-box-blog-side boxed" data-href="post.html">
                                        <a href="post.html" class="img-box">
                                            <div class="blog-date">
                                                <span>09</span>
                                                <span>JAN 2020</span>
                                            </div>
                                            <img src="https://kaszub-debki.pl/cache/preview/7e590c98d29e067d8d9b38c9d5e63e89.jpg" alt="" />
                                        </a>
                                        <div class="caption">
                                            <h2>Turyści</h2>
                                            <ul class="icon-list icon-list-horizontal">
                                                <li><i class="icon-calendar"></i><a href="#">01 / 15 / 2020</a></li>
                                                <li><i class="icon-bookmark"></i><a href="#">Treks</a></li>
                                                <li><i class="icon-user"></i><a href="#">Admin</a></li>
                                            </ul>
                                            <p>
                                                Do dyspozycji turystów miejsca do zmywania naczyń, poboru wody i wiele innych ułatwień (np.pralki automatyczne, darmowe ładowanie telefonów. Istnieje możliwość skorzystania z kompresora powietrza do nadmuchu materaców, kół przyczep, itp. oraz doładowania akumulatora poprzez udostępnienie prostownika do naładowania akumulatora. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="cnt-box cnt-box-blog-side boxed" data-href="post.html">
                                        <a href="post.html" class="img-box">
                                            <div class="blog-date">
                                                <span>20</span>
                                                <span>JAN 2020</span>
                                            </div>
                                            <img src="https://kaszub-debki.pl/cache/preview/73c51a2fb7ad3a01998d5e8cdfa95e06.jpg" alt="" />
                                        </a>
                                        <div class="caption">
                                            <h2>Domki</h2>
                                            <ul class="icon-list icon-list-horizontal">
                                                <li><i class="icon-calendar"></i><a href="#">01 / 15 / 2020</a></li>
                                                <li><i class="icon-bookmark"></i><a href="#">Treks</a></li>
                                                <li><i class="icon-user"></i><a href="#">Admin</a></li>
                                            </ul>
                                            <p>
                                                W ofercie obiektu  posiadamy 2 domki letniskowe: czteroosobowe - wyposażone  w 1 pokój, aneks kuchenny, łazienka , miejsce parkingowe dla 1 pojazdu przy domku oraz miejsce na grilla. . 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="cnt-box cnt-box-blog-side boxed" data-href="post.html">
                                        <a href="post.html" class="img-box">
                                            <div class="blog-date">
                                                <span>10</span>
                                                <span>FEB 2020</span>
                                            </div>
                                            <img src="https://kaszub-debki.pl/cache/preview/b4b89f7a569b3c14c30aca35be0b8096.jpg" alt="" />
                                        </a>
                                        <div class="caption">
                                            <h2>Plaża</h2>
                                            <ul class="icon-list icon-list-horizontal">
                                                <li><i class="icon-calendar"></i><a href="#">01 / 15 / 2020</a></li>
                                                <li><i class="icon-bookmark"></i><a href="#">Treks</a></li>
                                                <li><i class="icon-user"></i><a href="#">Admin</a></li>
                                            </ul>
                                            <p>
                                                Teren usytuowany jest w zachodniej części Dębek około 50 m do wejścia na plażę nr 21 licząc do granicy lasu i około 250 m do Bałtyku.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="cnt-box cnt-box-blog-side boxed" data-href="post.html">
                                        <a href="post.html" class="img-box">
                                            <div class="blog-date">
                                                <span>25</span>
                                                <span>FEB 2020</span>
                                            </div>
                                            <img src="https://kaszub-debki.pl/cache/preview/5ef2aea09555b0e3784afb0ef94dca3c.jpg" alt="" />
                                        </a>
                                        <div class="caption">
                                            <h2>Pole namiotowe</h2>
                                            <ul class="icon-list icon-list-horizontal">
                                                <li><i class="icon-calendar"></i><a href="#">01 / 15 / 2020</a></li>
                                                <li><i class="icon-bookmark"></i><a href="#">Treks</a></li>
                                                <li><i class="icon-user"></i><a href="#">Admin</a></li>
                                            </ul>
                                            <p>
                                                Pole namiotowe "Kaszub" jest położone na terenie Nadmorskiego Parku Krajobrazowego w przepięknym sosnowym lesie połączonym z urokliwą łąką porośniętą niewielkimi skupiskami drzew i krzewów oferując około 5 hektarów zróżnicowanego terenu (lasek, odkryty teren zielony, zadrzewiony teren zielony) do wypoczynku pod namiotami, w przyczepach campingowych, camperach, domkach letniskowych.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-pagination">
                                <ul class="pagination" data-page-items="4" data-options="scrollTop:true"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <form class="form-box">
                            <div class="input-text-btn">
                              
                            </div>
                        </form>
                        
                       </div>
                        
                </div>
            </div>
        </section>
    </main>
</center>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Alpins</h3>
                    <p>Somewhere between the bottom of the climb and the summit is the answer to the mystery why we climb.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Contacts</h3>
                    <ul class="icon-list icon-line">
                        <li>San Pellegrino, BG, Italy</li>
                        <li>hello@example.com</li>
                        <li>02 123 333 444</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>Subscribe to our newsletter of follow us on the social channels to stay tuned.</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2019 Alpins - Hiking & Outdoor Template Handmade by <a href="https://schiocco.com" target="_blank">schiocco.com</a>.</span>
                <span><a href="contacts.html">Contact us</a> | <a href="#">Privacy policy</a></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/pagination.min.js"></script>
        <script src="themekit/scripts/imagesloaded.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/social.min.js"></script>
    </footer>
</body>
</html>