<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kontakt - Kaszub</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/logo-white-icon.png">
</head>

<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-retina scroll-hide" src="media//logo-mobile.png" alt="logo" />
                    <img class="logo-default scroll-show" src="media/logo-white-blue.png" alt="logo" />
                    <img class="logo-retina scroll-show" src="media//logo-mobile.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li>
                        <a href="index.html">Główna</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Oferta</a>
                        <ul>
                            <li class="dropdown">
                            <li><a href="onas.html">O firmie</a></li>
                            <li><a href="shelters.html">Pola namiotowe</a></li>
                            <li><a href="galeria.html">Galeria</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="regulamin.html">Regulamin</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                    </li>
                </ul>
                </li>
                <li>
                    <a href="prices.html">Rezerwacja</a>
                </li>
                <li>
                    <a href="kontakt.html">Kontakt</a>
                </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
    <main>
        <section class="section-base">
            <div class="container">

                <hr class="space" />
                <div class="row">
                    <div class="col-lg-8">
                        <div class="google-map"> <iframe style="border: 0;"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2298.2273454189353!2d18.07542401639008!3d54.828690980316274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fdccbd48e7c449%3A0xd0776bd87de6c3c8!2sKemping+Kaszub+D%C4%99bki!5e0!3m2!1spl!2spl!4v1490776122616"
                                width="800" height="600" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="title">
                            <h2>KASZUB DĘBKI</h2>
                            <p>Informacje kontaktowe</p>
                        </div>
                        <ul class="text-list text-list-line">
                            <li><b>Adres firmy</b>
                                <hr />
                                <p>Żarnowiec 76, 84-110 Krokowa</p>
                            </li>
                            <li><b>Adres</b>
                                <hr />
                                <p>Dębki, ul. Łąkowa 5, 84-110 Krokowa</p>
                            </li>
                            <li><b>Adres email</b>
                                <hr />
                                <p>kaszub@kpkspzoo.pl</p>
                            </li>
                            <li><b>Telefon</b>
                                <hr />
                                <p>+48 668-283-043</p>
                            </li>
                        </ul>
                        <hr class="space-sm" />
                        <div class="icon-links icon-social icon-links-grid social-colors-hover">
                            <a class="facebook"><i class="icon-facebook"></i></a>
                            <a class="twitter"><i class="icon-twitter"></i></a>
                            <a class="instagram" href="https://www.instagram.com/kaszubdebki/"><i
                                    class="icon-instagram"></i></a>
                            <a class="google"><i class="icon-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>#kaszubdębki</h3>
                    <p>🌅Nad morzem</br>
                        🏖️Wczasy nad morzem</br>
                        ⛱️Blisko plaży</br>
                        💏👶Wspaniały dla rodzin z dziećmi</p>
                </div>
                <div class="col-lg-4">
                    <h3>Kontakt</h3>
                    <ul class="icon-list icon-line">
                        <li>Dębki, ul. Łąkowa 5, 84-110 Krokowa</li>
                        <li>kaszub@kpkspzoo.pl</li>
                        <li>+48 668-283-043</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <p>Sprawdź nasze social media!</p>
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram" href="https://www.instagram.com/kaszubdebki/"><i
                                class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>
                    Kopiowanie materiałów znajdujących się na stronie wzbronione. Wszystkie prawa zastrzeżone.
                </span>
                
                <span>
                    Copyright © 2023 Krokowskie Przedsiębiorstwo Komunalne Sp. z o. o.
                </span>
            </div>
            <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
            <script src="themekit/scripts/parallax.min.js"></script>
            <script src="themekit/scripts/glide.min.js"></script>
            <script src="themekit/scripts/magnific-popup.min.js"></script>
            <script src="themekit/scripts/tab-accordion.js"></script>
            <script src="themekit/scripts/imagesloaded.min.js"></script>
            <script src="themekit/scripts/progress.js" async></script>
            <script src="themekit/scripts/custom.js" async></script>
            <script src="themekit/scripts/contact-form/contact-form.js" async></script>
    </footer>
</body>

</html>