YPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About | Alpins | Mountain And Trekking Template</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>
<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-retina scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-default scroll-show" src="media/logo-mobile.png" alt="logo" />
                    <img class="logo-retina scroll-show" src="media/logo-mobile.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li>
                        <a href="index.html">Główna</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Oferta</a>
                        <ul>
                            <li class="dropdown">
                                <li><a href="O-Firmie.html  ">O firmie</a></li>
                                <li><a href="shelters.html">Pola namiotowe</a></li>
                                <li><a href="gallery.html">Galeria</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="rules.html">Regulamin</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="prices.html">Rezerwacja</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontakt</a>
                    </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="https://kaszubski-zakatek.pl/images/galeria-camping/Pole/DSC05382_1.JPG" data-offset="0">
        <div class="container">
            <h1>O Nas</h1>
            <h2>Im mocniej upadniesz, tym cięższe będzie twoje serce</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">na temat</a></li>
                <li><a href="#">O Nas</a></li>
            </ol>
        </div>
    </header>
    <main>
        <section class="section-base ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p>
                            Zapraszamy do Krokowej, gdzie natura spotyka się z komfortem! Nasze pola namiotowe to idealne miejsce na relaks i oderwanie się od codzienności. 
                            Oferujemy przestronny teren z pięknymi widokami, czystymi toaletami i prysznicami, a także dostępem do prądu.
                        </p>
                    </div>
                    <div class="col-lg-4 no-margin-md">
                        <p>
                            Dzięki starannie utrzymanym udogodnieniom oraz spokojnej atmosferze, każdy znajdzie tu coś dla siebie – od rodzinnych wakacji po romantyczne
                            wypady we dwoje. Przyjdź i doświadcz wyjątkowego połączenia przygody z jakością, które sprawi, że twój pobyt w Krokowej będzie niezapomniany!
                            Czekamy na Ciebie!
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <hr class="space-xs height-10" />
                        <ul class="slider" data-options="type:slider,perView:1,autoplay:3000">
                            <li>
                                <div class="cnt-box cnt-box-testimonials-bubble">
                                    <p>
                                        Alpins team is the most exprienced and friendly team I ever meet. I will join again and again!
                                    </p>
                                    <div class="thumb-bar">
                                        <img src="http://via.placeholder.com/450x450" alt="" />
                                        <p>
                                            <span>Alex Brenson</span>
                                            <span>Alpinist</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-testimonials-bubble">
                                    <p>
                                        The Alpins is something new tha will surprise you with every trip. You will surely enjoy it.
                                    </p>
                                    <div class="thumb-bar">
                                        <img src="http://via.placeholder.com/450x450" alt="" />
                                        <p>
                                            <span>Richard Pitt</span>
                                            <span>Climber</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base section-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="title">
                            <h2>Odkryj nas</h2>
                            <p>nasze główne usługi</p>
                        </div>
                        <hr class="space-lg hidden-md" />
                        <p>
                            Zapraszamy do odkrycia naszych głównych usług, 
                            które zapewnią Ci niezapomniane wrażenia i wypoczynek dla całej rodziny.
                             Oferujemy zarówno spokojne zakwaterowanie, jak i pełne przygód wycieczki.
                        </p>
                        <a href="#" class="  btn-text">Skontaktuj się z nami, aby dowiedzieć się więcej.</a>
                    </div>
                    <div class="col-lg-9">
                        <ul class="slider arrows-left" data-options="type:carousel,perView:3,perViewSm:1,focusAt:center,gap:30,arrows:true,controls:out,autoplay:3000">
                            <li>
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="https://kaszub-debki.pl/images/galeria-camping/15.jpg"  alt="" /></a>
                                    <div class="caption">
                                        <h2>Wycieczki</h2>
                                        <p>
                                            Mamy najbardziej niesamowite i sekretne wędrówki w naszym kraju. Obejrzyj zdjęcia.
                                        </p>
                                        <a class="btn-text" href="#">Take a look</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="https://kaszub-debki.pl/images/galeria-camping/07.jpg" alt="Rodzina" /></a>
                                    <div class="caption">
                                        <h2>Rodziny</h2>
                                        <p>
                                            Spędź dzień z całą rodziną dzięki naszym prostym, łatwym wędrówkom przeznaczonym dla dzieci.
                                            
                                        </p>
                                        <a class="btn-text" href="#">Take a look</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="https://kaszubski-zakatek.pl/images/galeria-camping/Domki/DSC04503.JPG" alt="" /></a>
                                    <div class="caption">
                                        <h2>Domki</h2>
                                        <p>
                                            Zachwyć się niektórymi z najlepszych Domków na świecie przyjaznych dla dzieci i ludzi niepełnosprawnych.
                                        </p>
                                        <a class="btn-text" href="#">Take a look</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base">
            <div class="container">
                <ul class="slider" data-options="type:slider,perView:2,perViewMd:1,gap:40,nav:true,controls:out">
                    <li>
                        <div class="timeline">
                            <div class="inverted">
                                <div class="badge"><p>1985</p><span>Fundacja</span></div>
                                <div class="panel">
                                    <h3 class="timeline-title">Group fondation</h3>
                                    <p>
                                        Stworzenie grupy
W 1985 roku powstała grupa partnerska, której celem jest rozszerzenie naszych działań na skalę międzynarodową.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline">
                            <div class="inverted">
                                <div class="badge"><p>1990</p><span>Stworzenie grupy</span></div>
                                <div class="panel">
                                    <h3 class="timeline-title">Przystąpienie do stowarzyszenia krajowego</h3>
                                    <p>
                                        Przystąpienie do stowarzyszenia krajowego
Dołączyliśmy do stowarzyszenia krajowego, aby współpracować z innymi podmiotami w branży turystycznej.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline">
                            <div class="inverted">
                                <div class="badge"><p>2002</p><span>Ekspansja</span></div>
                                <div class="panel">
                                    <h3 class="timeline-title">Jesteśmy więksi!</h3>
                                    <p>
                                        Rozszerzyliśmy naszą działalność, aby obsługiwać większą liczbę klientów i rynków.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline">
                            <div class="inverted">
                                <div class="badge"><p>2010</p><span>Online</span></div>
                                <div class="panel">
                                    <h3 class="timeline-title">Jesteśmy online!</h3>
                                    <p>
                                        Uruchomiliśmy naszą stronę internetową, co umożliwiło klientom łatwiejszy dostęp do naszych usług.                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Alpiny</h3>
                    <p>Gdzieś pomiędzy podnóżem wspinaczki a szczytem znajduje się odpowiedź na tajemnicę, dlaczego się wspinamy.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Contacts</h3>
                    <ul class="icon-list icon-line">
                        <li>Żarnowiec 76, 84-110 Krokowa</li>
                        <li>sekretariat@kpkspzoo.pl</li>
                        <li>(58) 539 097 520</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>Zapisz się do naszego newslettera lub śledź nas w kanałach społecznościowych, aby być na bieżąco.</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2019 Alpins — szablon dotyczący pieszych wędrówek i aktywności na świeżym powietrzu. Wykonany ręcznie przez
                    <a href="https://schiocco.com" target="_blank">schiocco.com</a>.</span>
                <span><a href="contacts.html">Skontaktuj się z nami</a> | <a href="#">Polityka prywatności
                </a></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/progress.js"></script>
        <script src="themekit/scripts/magnific-popup.min.js"></script>
        <script src="themekit/scripts/contact-form/contact-form.js"></script>
    </footer>
</body>
</html>