<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accordion | Containers | Themekit</title>
    <meta name="description" content="Various HTML components for build modern HTML websites. Part II.">
    <script src="../../themekit/scripts/jquery.min.js"></script>
    <script src="../../themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="../../themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../themekit/css/style.css">
    <link rel="stylesheet" href="../../themekit/css/content-box.css">
    <link rel="stylesheet" href="../../skin.css">
    <link rel="icon" href="../../media/favicon.png">
</head>
<body class="template-docs">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="#">
                    <img class="logo-default scroll-hide" src="../../media/logo-black-blue-solid.svg" alt="logo" />
                    <img class="logo-retina scroll-hide" src="../../media/logo-black-blue-solid.svg" alt="logo" />
                    <img class="logo-default scroll-show" src="../../media/logo-white-solid.svg" alt="logo" />
                    <img class="logo-retina scroll-show" src="../../media/logo-white-solid.svg" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li class="dropdown">
                        <a href="#">Strona Główna</a>
                        <ul>
                            <li><a href="../../index.html">Main</a></li>
                            <li><a href="../../index-2.html">Home two</a></li>
                            <li><a href="../../index-3.html">Home three</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Strony</a>
                        <ul>
                            <li class="dropdown-submenu">
                                <a>About</a>
                                <ul>
                                    <li><a href="../../about.html">About</a></li>
                                    <li><a href="../../team.html">Team</a></li>
                                    <li><a href="../../team-2.html">Team two</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>Special</a>
                                <ul>
                                    <li><a href="../../food.html">Food</a></li>
                                    <li><a href="../../shelters.html">Shelters</a></li>
                                    <li><a href="../../events.html">Events</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>Others</a>
                                <ul>
                                    <li><a href="../../prices.html">Prices</a></li>
                                    <li><a href="../../history.html">History</a></li>
                                    <li><a href="../../gallery.html">Gallery</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="../../elements/components/buttons.html">Elements</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Wędrówki</a>
                        <ul>
                            <li><a href="../../treks.html">Treks</a></li>
                            <li><a href="../../treks-single.html">Single trek</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../../blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="../../contacts.html">Kontakt</a>
                    </li>
                </ul>
                <div class="menu-right">
                    <ul class="lan-menu">
                        <li class="dropdown">
                            <a href="#"><img src="../../media/en.png" />EN </a>
                            <ul>
                                <li><a href="#"><img src="../../media/it.png" />IT</a></li>
                                <li><a href="#"><img src="../../media/es.png" />ES</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="header-base">
        <div class="container">
            <h1>FAQ</h1>
            <h2>Odpowiedzi na często zadawane pytania</h2>
        </div>
    </header>
        <main>
            <br>
            <br>
        <center>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="accordion-list">
                                    <li>
                                        <a href="#">Jakie są godziny, w których należy dokonać meldunku i uregulować opłatę za pobyt?</a>
                                        <div class="content">
                                            <p>
                                                Goście muszą dokonać meldunku i opłacić cały okres
                                                 pobytu z góry w godzinach 8:00–20:00 w dniu przyjazdu.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Czy Goście mogą sami wybrać miejsce na rozbicie namiotu
                                             lub ustawienie kampera?</a>
                                        <div class="content">
                                            <p>
                                                Nie, Goście nie mogą samodzielnie wybierać miejsca obozowania.
                                                 Miejsce obozowania wskazuje personel Pola namiotowego.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Jakie są zasady dotyczące ciszy nocnej na Polu namiotowym?</a>
                                        <div class="content">
                                            <p>
                                                Cisza nocna obowiązuje od godz. 22:00 do 6:00.
                                                 W tym czasie brama główna jest zamknięta, a otwarte są tylko bramki wejściowe.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Czy możliwe jest przyjazd na Pole namiotowe po godzinie 20:00?</a>
                                        <div class="content">
                                            <p>
                                                Tak, przyjazd po godzinie 20:00 jest możliwy, ale należy uprzednio skontaktować się z recepcją,
                                                 podając numer pojazdu.
                                                 Opłatę pobytową należy uiścić do godz. 9:00 dnia następnego.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Czy Goście mogą palić tytoń w domkach letniskowych lub pokojach?</a>
                                        <div class="content">
                                            <p>
                                                Nie, obowiązuje całkowity zakaz palenia tytoniu w domkach oraz pokojach.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Jakie są obowiązki Gości, którzy przyjeżdżają ze zwierzętami?</a>
                                        <div class="content">
                                            <p>
                                                Właściciele zwierząt muszą posiadać aktualną książeczkę szczepień,
                                                 zapewnić odpowiednią opiekę, wyprowadzać zwierzęta na smyczy i w kagańcu oraz sprzątać po nich.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="accordion-list" data-type="multiple" data-time="2000" data-open="2">
                                    <li>
                                        <a href="#">Czy Goście mogą parkować swoje pojazdy w dowolnym miejscu na Polu?</a>
                                        <div class="content">
                                            <p>
                                                Nie, obowiązuje bezwzględny zakaz parkowania aut i przyczep w obrębie dróg pożarowych.
                                                 Pojazdy odwiedzających Gości mogą parkować tylko na wyznaczonym parkingu, zgodnie z cennikiem.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Czy Administracja Pola ponosi odpowiedzialność za rzeczy wartościowe pozostawione przez Gości?</a>
                                        <div class="content">
                                            <p>
                                                Nie, Administracja Pola nie ponosi odpowiedzialności za przedmioty wartościowe,
                                                 takie jak biżuteria czy sprzęt, pozostawione w namiotach, przyczepach, samochodach itp.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Co powinien zrobić Gość w przypadku zniszczenia lub zagubienia wyposażenia Pola namiotowego?</a>
                                        <div class="content">
                                            <p>
                                                Gość ponosi odpowiedzialność materialną za wszelkie zniszczenia, zagubienia,
                                                 kradzieże lub uszkodzenia przedmiotów wyposażenia i urządzeń technicznych Pola, które powstały z jego winy.
                                            </p>
                                        </center>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="space-lg" />
                <div class="cnt-box cnt-call">
                    <i class="im-paper-plane"></i>
                    <div class="caption">
                        <h2></h2>
                        <p>
                            
                        </p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3></h3>
                    <p></p>
                </div>
                <div class="col-lg-4">
                    <h3></h3>
                    <ul class="icon-list icon-line">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    
                    <hr class="space-sm" />
                    <p></p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span><a href="https://schiocco.com" target="_blank"></a></span>
                <span><a href="contacts.html"></a><a href="#"></a></span>
            </div>
        </div>
        <link rel="stylesheet" href="../../themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="../../themekit/scripts/tab-accordion.js"></script>
    </footer>
</body>
</html>
