<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pole namiotowe Kaszub w Dębkach w przepięknym sosnowym lesie w odległości około 250m od plaży.</title>
    <meta name="description" content="Various HTML components for build modern HTML websites. Part II.">
    <script src="../../themekit/scripts/jquery.min.js"></script>
    <script src="../../themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="../../themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../themekit/css/style.css">
    <link rel="stylesheet" href="../../themekit/css/content-box.css">
    <link rel="stylesheet" href="../../skin.css">
    <link rel="icon" href="../../media/favicon.png">
</head>
<body class="template-docs">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="#">
                    <img class="logo-default scroll-hide" src="logo.png" alt="logo" />
                    <img class="logo-retina scroll-hide" src="../../media/logo-black-blue-solid.svg" alt="logo" />
                    <img class="logo-default scroll-show" src="../../media/logo-white-solid.svg" alt="logo" />
                    <img class="logo-retina scroll-show" src="../../media/logo-white-solid.svg" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li>
                        <a href="index.html">Główna</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Oferta</a>
                        <ul>
                            <li class="dropdown">
                                <li><a href="about.html">O firmie</a></li>
                                <li><a href="shelters.html">Pola namiotowe</a></li>
                                <li><a href="gallery.html">Galeria</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="rules.html">Regulamin</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="prices.html">Rezerwacja</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontakt</a>
                    </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="header-base">
        <div class="container">
            <h1>FAQ</h1>
            <h2>ODPOWIEDZI NA PYTANIA</h2>
        </div>
    </header>
        <main>
            <br><br>
            <center>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="accordion-list">
                                    <li>
                                        <a href="#">Jakie są godziny przyjazdu i wyjazdu z Pola namiotowego?</a>
                                        <div class="content">
                                            <p>
                                                Doba pobytowa rozpoczyna się o godz. 8:00 i kończy o godz. 9:00 dnia następnego. W domkach letniskowych doba trwa od godz. 15:00 do 12:00.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Jakie są zasady dotyczące meldunku i płatności?</a>
                                        <div class="content">
                                            <p>
                                                Goście są zobowiązani do dokonania formalności meldunkowych oraz uregulowania należności za cały okres pobytu z góry w dniu przyjazdu w recepcji, która jest czynna od 8:00 do 20:00.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Czy mogę wybrać miejsce obozowania samodzielnie?</a>
                                        <div class="content">
                                            <p>
                                                Nie, miejsce obozowania wskazuje personel Pola namiotowego, a samodzielny dobór miejsca oraz przestawianie przyczepy, namiotu lub pojazdu jest zabronione.

                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Jakie są zasady dotyczące zwierząt na Polu namiotowym?</a>
                                        <div class="content">
                                            <p>
                                                Zwierzęta mogą przebywać na Polu, ale ich właściciele muszą zapewnić im odpowiednią opiekę, posiadać aktualną książeczkę szczepień oraz sprzątać po nich nieczystości.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Co się stanie, jeśli nie przestrzegam regulaminu?</a>
                                        <div class="content">
                                            <p>
                                                Naruszenie regulaminu oraz zasad współżycia turystycznego upoważnia administrację do usunięcia Gościa z terenu Pola bez zwrotu opłaconej należności za pobyt.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Jakie są zasady dotyczące korzystania z energii elektrycznej?</a>
                                        <div class="content">
                                            <p>
                                                Goście muszą posiadać przewód o odpowiednich parametrach technicznych, a maksymalny pobór mocy wynosi 2.3 kW. Większe zapotrzebowanie wymaga zgody administracji i podlega dodatkowej opłacie.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="accordion-list" data-type="multiple" data-time="2000" data-open="2">
                                    <li>
                                        <a href="#">Czy mogę przyjechać na Pole namiotowe w godzinach nocnych?</a>
                                        <div class="content">
                                            <p>
                                                Przyjazdy lub wyjazdy Gości zameldowanych w godzinach nocnych należy uzgodnić w recepcji Pola, a opłatę pobytową należy uiścić do godz. 9:00 dnia następnego.
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Jakie są zasady dotyczące ciszy nocnej?</a>
                                        <div class="content">
                                            <p>
                                                Cisza nocna obowiązuje od godz. 22:00 do 6:00. W tym czasie brama główna jest zamknięta, a goście mogą korzystać z bramek wejściowych.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Jakie są zasady dotyczące porządkowania miejsca pobytu przed wyjazdem?</a>
                                        <div class="content">
                                            <p>
                                                Gość zobowiązany jest do posprzątania miejsca, w którym przebywał, przed opuszczeniem Pola. Należy również umieszczać odpady tylko w wyznaczonych pojemnikach.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
            <br><br>
    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Alpins</h3>
                    <p>Somewhere between the bottom of the climb and the summit is the answer to the mystery why we climb.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Contacts</h3>
                    <ul class="icon-list icon-line">
                        <li>San Pellegrino, BG, Italy</li>
                        <li>hello@example.com</li>
                        <li>02 123 333 444</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>Subscribe to our newsletter of follow us on the social channels to stay tuned.</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2019 Alpins - Hiking & Outdoor Template Handmade by <a href="https://schiocco.com" target="_blank">schiocco.com</a>.</span>
                <span><a href="contacts.html">Contact us</a> | <a href="#">Privacy policy</a></span>
            </div>
        </div>
        <link rel="stylesheet" href="../../themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="../../themekit/scripts/tab-accordion.js"></script>
    </footer>
</body>
</html>